# Ignore Visual Studio files
.vs/
*.vcxproj*
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore VS Code workspace settings (optional)
.vscode/

# Ignore compiled binaries
*.exe
*.out
*.o


# Ignore build directories
/build/
Debug/
Release/

# Ignore temporary files
*.tmp
*.log
*.swp
*.swo